header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

.navbar-brand, .submit-button, .project-names {
    background-color: #4aaaa5;
}

.project-names {
    visibility: hidden;
}

.submit-button:hover {
    opacity: 0.6;
}

button:active, button:focus {
    outline-color: lightgray;
}

.navbar-nav > li > a:hover {
    color: #4aaaa5 !important;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../images/hexagon-bg.jpg);
}

 .sticky-footer {
     border-top: 8px solid #4aaaa5;
 }