header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

.navbar-brand {
    background-color: #4aaaa5;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg);
}

 .sticky-footer {
     border-top: 8px solid #4aaaa5;
 }

 .project-names {
    bottom: 30px;
    background-color: #4aaaa5;
}

/* @media {
    (max-width: 480px) {
        .name {
            margin-left: 5000px;
        }
} */